.card-image {
    background-color: #000;
}
#file {
    visibility: hidden;
    width: 0;
    height: 0;
}
.fiixed {
    position: fixed;
    margin-right: 1em;
}
#card-view {
    width: 100%;
}
#messages {display: none}